### Book recommendation system ideas

---

In [1]:
import numpy
import pandas

In [2]:
ratings: pandas.core.frame.DataFrame = pandas.read_csv("BX-Book-Ratings.csv", encoding="cp1251", sep=";", on_bad_lines="skip", index_col=False, dtype='unicode') 
titles: pandas.core.frame.DataFrame = pandas.read_csv("BX-Books.csv", encoding="cp1251", sep=";", on_bad_lines="skip", index_col=False, dtype='unicode')

In [3]:
ratings.head()

  User-ID        ISBN Book-Rating
0  276725  034545104X           0
1  276726  0155061224           5
2  276727  0446520802           0
3  276729  052165615X           3
4  276729  0521795028           6

In [4]:
titles.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [5]:
books_collection: pandas.core.frame.DataFrame = pandas.merge(ratings, titles, on="ISBN")

In [6]:
books_collection.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...

<br>

#### Řádky #16~18 

---
Selekce řádků obsahující pouze `the fellowship ...` a `tolkien`.

In [9]:
tolkien_readers = books_collection['User-ID'][
    (
        books_collection['Book-Title'] == 'the fellowship of the ring (the lord of the rings, part 1)'
    ) \
    & (books_collection['Book-Author'].str.contains("tolkien")
    )
]

In [43]:
# nová Series pro pandas
fellowship_series: pandas.core.series.Series = books_collection["Book-Title"]

# print(fellowship_series.str.contains("star wars"))  # vrací všechna data

# pouze matchující výsledky
titles_and_authors: pandas.core.series.Series = fellowship_series[
    fellowship_series.str.contains("Fellowship")
    & books_collection["Book-Author"].str.contains("Tolkien")
]
    
# ... přetypovat na list a filtrovat výskyt
title_and_authors_: list = titles_and_authors.unique().tolist()

The Fellowship of the Ring (The Lord of the Rings, Part 1)
The Fellowship of the Ring (Lord of the Rings (Paperback))
The Fellowship of the Ring
The Fellowship of the Ring: 1st Part: The Lord of the Rings (Eflkien, J. R. R. Lord of the Rings, Pt. 1.)
The Fellowship of the Ring: Being the First Part of the Lord of the Rings (The Lord of the Rings / By J.R.R. Tolkien, Pt. 1)
The Fellowship of the Ring (The Lord of the Rings, Book 1)
J.R.R. Tolkien's the Fellowship of the Ring
array(["J.R.R. Tolkien's the Fellowship of the Ring",
       'The Fellowship of the Ring',
       'The Fellowship of the Ring (Lord of the Rings (Paperback))',
       'The Fellowship of the Ring (The Lord of the Rings, Book 1)',
       'The Fellowship of the Ring (The Lord of the Rings, Part 1)',
       'The Fellowship of the Ring: 1st Part: The Lord of the Rings (Eflkien, J. R. R. Lord of the Rings, Pt. 1.)',
       'The Fellowship of the Ring: Being the First Part of the Lord of the Rings (The Lord of the Rings / By J.R.R. Tolkien, Pt. 1)'],
      dtype='<U124')

In [ ]:
# tolkien_readers = tolkien_readers.tolist()

tolkien_readers = np.unique(tolkien_readers)